{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Luxury</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'barberia/css/bootstrap.min.css' %}">
    <!-- owl css -->
    <link rel="stylesheet" href="{% static 'barberia/css/owl.carousel.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'barberia/css/style.css' %}">
    <!-- responsive-->
    <link rel="stylesheet" href="{% static 'barberia/css/responsive.css' %}">
    <!-- mis estilos -->
    <link rel="stylesheet" type="text/css" href="{% static 'barberia/css/estilos.css' %}">
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'barberia/images/loading.gif' %}" alt="" /></div>
    </div>

    <div class="wrapper">
        <!-- end loader -->

        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="{% url 'barberia:index'%}">Inicio</a>
                    </li>
                    <li>
                        <a href="{% url 'barberia:nosotros'%}">Nuestra barbería</a>
                    </li>
                    <li>
                        <a href="{% url 'barberia:servicios'%}">Servicios</a>
                    </li>
                    <li>
                        <a href="{% url 'barberia:productos'%}">Productos</a>
                    </li>
                    <li>
                        <a href="{% url 'barberia:contacto'%}">Contáctanos</a>
                    </li>
                    <li>
                        <a href="{% url 'barberia:reservar'%}">Reservar Cita</a>
                    </li>
                    {% if request.session.login.1 == '1' or request.session.login.1 == '2' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Configuracion

                        </a>
                        <div class="dropdown-menu">


                            <a class="dropdown-item" href="{% url 'barberia:usuarios'%}">Usuarios</a>
                            <a class="dropdown-item" href="{% url 'barberia:barberos'%}">Barberos</a>
                            <a class="dropdown-item" href="{% url 'barberia:catalogo'%}">Catalogo</a>
                            <a class="dropdown-item" href="{% url 'barberia:reservas'%}">Reservas</a>

                    </li>
                    {% endif %}
                </ul>

            </nav>
        </div>

        <div id="content">
            <!-- header -->
            <header>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="full">
                                <a class="logo" href="{% url 'barberia:index'%}"><img
                                        src="{% static 'barberia/images/logo.png' %}" alt="#" /></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="full">
                                <div class="right_header_info">
                                    <ul>
                                        <li class="dinone">Contáctanos: <img
                                                style="margin-right: 15px;margin-left: 15px;"
                                                src="{% static 'barberia/images/phone_icon.png' %}" alt="#"><a
                                                href="#">319 411 46 80</a></li>
                                        <li class="dinone"><img style="margin-right: 15px;"
                                                src="{% static 'barberia/images/mail_icon.png' %}" alt="#"><a
                                                href="#">Luxury_Barber@gmail.com</a></li>
                                        <li class="dinone"><img
                                                style="margin-right: 15px;height: 21px;position: relative;top: -2px;"
                                                src="{% static 'barberia/images/location_icon.png' %}" alt="#"><a
                                                href="#">Medellín , Colombia</a></li>
                                        {% if not request.session.login %}
                                        <li class="button_user"><a class="button active" data-toggle="modal"
                                                data-target="#ModalLogin" href="#">Ingresar</a><a class="button"
                                                data-toggle="modal" data-target="#ModalRegister"
                                                href="#">Registrarse</a></li>
                                        {% else %}
                                        <li class="button_user"><a class="button active"
                                                href="{% url 'barberia:logout'%}">Cerrar Sesión</a></li>
                                        {% endif %}
                                        <li><img style="margin-right: 15px;"
                                                src="{% static 'barberia/images/search_icon.png' %}" alt="#"></li>
                                        <li>
                                            <button type="button" id="sidebarCollapse">
                                                <img src="{% static 'barberia/images/menu_icon.png' %}" alt="#">
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Modal Ingreso-->
            <div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>
                                <img src="{% static 'barberia/images/title.png' %}">
                            </div>

                            <h2 class="modal-title" id="exampleModalCenterTitle">Ingresar</h2>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'barberia:login'%}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="correo">Correo Electronico</label>
                                    <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" name="nombreUsuario" placeholder="Ingrese su correo electronico" required>
                                </div>
                                <div class="form-group">
                                    <label for="contrasena">Contraseña</label>
                                    <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Registro-->
            <div class="modal fade" id="ModalRegister" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>
                                <img src="{% static 'barberia/images/title.png' %}">
                            </div>
                            <h2 class="modal-title" id="exampleModalCenterTitle">Registrarse</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'barberia:guardar_usuario'%}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" name="nombre" placeholder="Nombre" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo Electronico</label>
                                    <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" name="correo" placeholder="Correo Electronico" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contraseña</label>
                                    <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Confirmar Contraseña</label>
                                    <input type="password" class="form-control" id="confirmar_contrasena" name="confirmar_contrasena" placeholder="Confirmar Contraseña" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Celular</label>
                                    <input type="text" class="form-control" id="celular" name="celular" placeholder="Celular" required>
                                </div>
                                <input type="hidden" name="rol" value="3">
                                <button type="submit" class="btn btn-primary">Registrarse</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end header -->

            {% if messages %}
            <div class="mensajes">
                {% for i in messages %}

                <div class="alert alert-{% if i.level == 25 %}success{% elif i.level == 40%}danger{% elif i.level == 30%}warning{% else %}info{% endif %} alert-dismissible fade show"
                    role="alert">
                    {{i}}!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {% endfor %}
            </div>

            {% endif %}


            <div id="respuesta_ajax"></div>
            {% block contenedor %} ... {% endblock %}
        </div>

        <!-- footer -->

        <footer>
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class=" col-md-12">
                            <h2>Solicita una<strong class="white"> Llamada</strong></h2>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                            <form class="main_form">
                                <div class="row">

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Nombre" type="text" name="Name">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Correo electronico" type="text"
                                            name="Email">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <input class="form-control" placeholder="Celular" type="text" name="Phone">
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <textarea class="textarea" placeholder="Mensaje" type="text"
                                            name="Message"></textarea>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <button class="send">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="img-box">
                                <figure><img src="{% static 'barberia/images/contacto.jpg' %}" alt="img" /></figure>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer_logo">
                                <a href="{% url 'barberia:index'%}"><img src="{% static 'barberia/images/logo.png' %}"
                                        alt="logo" /></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul class="lik">
                                <li> <a href="{% url 'barberia:index'%}">Inicio</a></li>
                                <li> <a href="{% url 'barberia:nosotros'%}">Nuestra Barbería</a></li>
                                <li> <a href="{% url 'barberia:servicios'%}">Servicios</a></li>
                                <li> <a href="{% url 'barberia:productos'%}">Productos</a></li>
                                <li> <a href="{% url 'barberia:contacto'%}">Contáctanos</a></li>
                                <li> <a href="{% url 'barberia:reservar'%}">Reservar Cita</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="new">
                                <h3>Promociones</h3>
                                <form class="newtetter">
                                    <input class="tetter" placeholder="Tu correo electronico" type="text"
                                        name="Your email">
                                    <button class="submit">Subscríbete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <p>© 2021 Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->

    </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->
    <script src="{% static 'barberia/js/jquery.min.js' %}"></script>
    <script src="{% static 'barberia/js/popper.min.js' %}"></script>
    <script src="{% static 'barberia/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'barberia/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'barberia/js/custom.js' %}"></script>
    <script src="{% static 'barberia/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'barberia/js/jquery-3.0.0.min.js' %}"></script>

    <script src="{% static 'barberia/js/libreria.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>

    <style>
        #owl-demo .item {
            margin: 3px;
        }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }
    </style>


    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>

</body>

</html>